@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --delay: 0s;
  --dark1: #0d0e1c;
  --dark2: #262942;
  --color-text: aliceblue;
  --color-bg: #262942;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-box: #555b96;
  --color-box-hover: #3a3842;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;

  outline: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  color: var(--color-text);
  margin-top: 20px;
  margin-bottom: -5px;
}

.screen-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--dark1), var(--dark2));
  color: #9b9ca7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {

  height: 100vh;
  overflow:auto;
  margin: 0 auto;
  flex: 1;
}

.left-side {
  width: 6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 117px 0 40px;
  -webkit-animation: left 1s var(--delay) both;
  animation: left 1s var(--delay) both;
}

.left-side svg {
  width: 24px;
  cursor: pointer;
}

.left-side svg + svg {
  margin-top: 34px;
}

.left-side svg:last-child {
  margin-top: auto;
}

.left-side svg.active,
.left-side svg:hover {
  color: #4255d4;
}


/* Sidebar.css */

.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #333;
  transition: width 0.3s;
  position: relative;
  float: left;
  left: 0;
  top: 0;
}


.sidebar p{
visibility: hidden;
margin-bottom: 5px;
}

.sidebar:hover p{
visibility: visible;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.sidebar a:hover {
  background-color: #555;
}
