@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --delay: 0s;
  --dark1: #0d0e1c;
  --dark2: #262942;
  --color-text: aliceblue;
  --color-bg: #262942;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-box: #555b96;
  --color-box-hover: #3a3842;
}




html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
 
img {
  max-width: 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  outline: none;
  
}

body {
  color: var(--color-text);
  background: linear-gradient(180deg, var(--dark1), var(--dark2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}


/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 10px;
}
/* SCROLLBAR */

h6,
h5,
h4,
h3,
h2,
h1 {
  color: whitesmoke;
}

h1{
  margin: 15px;
}
.center-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.screen-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--dark1), var(--dark2));
  color: #9b9ca7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* START OF LOGIN */

.login-box {
  background: var(--color-bg);
  padding: 40px;
  box-shadow: 0 15px 25px var(--color-shadow);
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  min-width: 420px;
  min-height: 568px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
}

.login-form {
  z-index: 10;
  width: 100%;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  background: var(--color-bg);
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 25px;
  text-align: justify;
  padding-left: 15px;
  border: none;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
    inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
    inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4);
  transition: all 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
    inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
    inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4),
    5px 5px 10px 2.5px rgba(0, 0, 0, 0.2);
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.login-button {
  top: 0;
  margin: 5px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: autos;
  border-width: 0 6px 6px 0;
  display: inline-block;
}

.form-btn {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 15px;
  color: var(--color-text);
  background: var(--color-bg);
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

.form-btn:hover {
  background: var(--color-box);
}

.form-btn:active {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  background: var(--color-box-hover);
}

.eyes {
  fill: aliceblue;
  padding: 5px;
}

.eye-button {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 100px;
  color: var(--color-text);
  background: var(--color-bg);
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

/* END OF LOGIN */

/* START OF ALERT*/
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.confirmation-box {
  background: var(--color-bg);
  padding: 20px;
  border-radius: 5px;
  width: 420px;
}

.confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.confirmation-buttonss {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.confirmation-buttons button {
  margin-left: 10px;
}

.alert-button {
  top: 0;
  margin: 5px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: autos;
  border-width: 0 6px 6px 0;
  display: inline-block;
}

.alert-btn {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 15px;
  color: var(--color-text);
  background: var(--color-bg);
  padding: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

.alert-btn:hover {
  background: var(--color-box);
}

.alert-btn:active {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  background: var(--color-box-hover);
}
/* END OF ALERTS */

/* DASHBOARD  */
/* 
.wrapper {
  height: 100vh;
  overflow: auto;
  margin: 0 auto;
  flex: 1;
} */

/* DASHBOARD / SIDEBAR  */
/* .dashboard-box {
  background: var(--color-bg);
  overflow-x: auto;
  display: flex;
  margin: 20px;
  width: fit-content;
  height: 90%;
  padding: 30px;
  box-shadow: 0 15px 25px var(--color-shadow);
  border-radius: 10px;
}

.sidebar {

  width: 70px;
  height: 100vh;
  background: var(--color-bg);
  box-shadow: 0 15px 25px var(--color-shadow);
  transition: width 0.3s;
  position: relative;
  left: 0;
  top: 0;
}

.sidebar:hover {
  width: 200px;
}

.sidebar p {
  visibility: hidden;
  margin-bottom: 5px;
}

.sidebar:hover p {
  visibility: visible;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  padding: 117px 0 40px;
  -webkit-animation: left 1s var(--delay) both;
  animation: left 1s var(--delay) both;
}

.sidebar-content svg {
  width: 20px;
  cursor: pointer;
}

.sidebar-content svg + svg {
  margin-top: 34px;
}

.sidebar-content svg:last-child {
  margin-top: auto;
}

.sidebar-content svg.active,
.sidebar-content svg:hover {
  color: white;
} */

/* EXPERIMENTAL */

.bg-container {
  background-color: var(--theme-bg);
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* DASHBOARD/SIDEBAR */

.sidebar {
  width: 70px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-title {
  font-size: 6px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  visibility: hidden;
}

.sidebar:hover .side-title {
  width: 220px;
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  visibility: visible;
}

.sidebar:hover {
  width: 220px;
}
.sidebar .logo-expand {
  visibility: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  position: sticky;
  top: 0;
}

.sidebar .logo {
  visibility: visible;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  line-height: 34px;
  top: 0;
}
.sidebar:hover .logo {
  visibility: hidden;
}
.sidebar:hover .logo-expand {
  visibility: visible;
}
.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
}

.side-wrapper {
  padding: 36px 0;
  width: 145px;
}
.side-wrapper + .side-wrapper {
  border-bottom: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
}
.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}
.side-menu a + a {
  margin-top: 26px;
}
.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-bg);
  flex-shrink: 0;
  margin-right: 16px;
}
.side-menu svg:hover {
  color: #fff;
}

/* TOPBAR */
.wrapper-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}


.search-bar {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}
.user-settings svg {
  width: 10px;
  flex-shrink: 0;
}
@media screen and (max-width: 575px) {
  .user-settings svg {
    display: none;
  }
}
.user-settings .notify {
  position: relative;
}
.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}
.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}
@media screen and (max-width: 575px) {
  .user-settings .notify .notification {
    display: none;
  }
}
.user-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.user-name {
  color: #fff;
  font-size: 14px;
  margin: 0 6px 0 12px;
}
@media screen and (max-width: 575px) {
  .user-name {
    display: none;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  flex-grow: 1;
  overflow: auto;
}

.main-header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.small-header {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 20px;
}

.main-blogs {
  display: flex;
  align-items: center;
}
.main-blog {
  background-size: 80%;
  background-position-x: 150px;
  background-color: #31abbd;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 200px;
  padding: 30px;
  border-radius: 20px;
  align-self: stretch;
  overflow: hidden;
  position: relative;
}
.main-blog + .main-blog {
  margin-left: 20px;
  width: 35%;
  background-color: #6c5ecf;
}
.main-blog + .main-blog .author-img {
  border-color: rgba(255, 255, 255, 0.75);
  margin-top: 14px;
}
.main-blog + .main-blog .author-img__wrapper svg {
  border-color: #ffe6b2;
  color: #e7bb7d;
}
.main-blog + .main-blog .author-detail {
  margin-left: 0;
}
@media screen and (max-width: 905px) {
  .main-blog,
  .main-blog + .main-blog {
    width: 50%;
    padding: 30px;
  }
  .main-blog {
    background-size: cover;
    background-position-x: center;
    background-blend-mode: overlay;
  }
}
.main-blog__time {
  background: rgba(21, 13, 13, 0.44);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contents {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 980px) {
  .contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content {
  position: relative;
  background-color: #22b07d;
  border-radius: 20px;
  overflow: hidden;
  height: 200px;
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 10px;
}
