@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

:root {
  --delay: 0s;
  --dark1: #0d0e1c;
  --dark2: #262942;
  --color-text: aliceblue;
  --color-bg: #262942;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-box: #555b96;
  --color-box-hover: #3a3842;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
  outline: none;
}

body {
  color: var(--color-text);
  background: linear-gradient(180deg, var(--dark1), var(--dark2));
  display: flex;
  touch-action: pan-x pan-y;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

ul {
  padding: 20px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  color: whitesmoke;
}

h1 {
  margin: 15px;
}
.center-text {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.screen-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(180deg, var(--dark1), var(--dark2));
  color: #9b9ca7;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  max-height: 10%;
}

::-webkit-scrollbar-thumb {
  background-color: wheat;
  border-radius: 10px;
  
  
}
/* SCROLLBAR */

/* START OF LOGIN */

.login-box {
  background: var(--color-bg);
  padding: 40px;
  box-shadow: 0 15px 25px var(--color-shadow);
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 420px;
  min-width: 420px;
  min-height: 568px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
}

.login-form {
  z-index: 10;
  width: 100%;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  background: var(--color-bg);
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 25px;
  text-align: justify;
  padding-left: 15px;
  border: none;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
    inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
    inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4);
  transition: all 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  box-shadow: inset 5px 5px 8px 1px rgba(0, 0, 0, 0.2),
    inset -5px -5px 8px 0px rgba(77, 71, 100, 0.3),
    inset -1px -2px 2px 0px rgba(77, 71, 100, 0.4),
    5px 5px 10px 2.5px rgba(0, 0, 0, 0.2);
}

.login-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.login-button {
  top: 0;
  margin: 5px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: autos;
  border-width: 0 6px 6px 0;
  display: inline-block;
}

.form-btn {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 15px;
  color: var(--color-text);
  background: var(--color-bg);
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

.form-btn:hover {
  background: var(--color-box);
}

.form-btn:active {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  background: var(--color-box-hover);
}

.eyes {
  fill: aliceblue;
  padding: 5px;
}

.eye-button {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 100px;
  color: var(--color-text);
  background: var(--color-bg);
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

/* END OF LOGIN */

/* START OF ALERT*/
.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.confirmation-box {
  background: var(--color-bg);
  padding: 20px;
  border-radius: 5px;
  width: 420px;
}

.confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.confirmation-buttonss {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.confirmation-buttons button {
  margin-left: 10px;
}

.alert-button {
  top: 0;
  margin: 5px;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: autos;
  border-width: 0 6px 6px 0;
  display: inline-block;
}

.alert-btn {
  text-align: center;
  border: #262942;
  box-shadow: 0 15px 25px var(--color-shadow);
  margin: 5px;
  border-radius: 15px;
  color: var(--color-text);
  background: var(--color-bg);
  padding: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.2),
    -10px -10px 20px 5px rgba(77, 71, 100, 0.4),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  transition: background 0.1s ease-in-out;
  margin-top: 25px;
}

.alert-btn:hover {
  background: var(--color-box);
}

.alert-btn:active {
  box-shadow: 5px 5px 10px 2.5px rgba(0, 0, 0, 0.2),
    -5px -5px 10px 2.5px rgba(77, 71, 100, 0.3),
    -1px -1px 4px 2px rgba(77, 71, 100, 0.4);
  background: var(--color-box-hover);
}
/* END OF ALERTS */

/* EXPERIMENTAL */

.bg-container {
  background-color: var(--theme-bg);
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* DASHBOARD/SIDEBAR */

.sidebar img{
  max-width: 30px;
  max-height: 70px;
  transition: all 0.3s ease-in-out;
}

.sidebar:hover img{
  max-width: 220px;
  transition: all 0.3s ease-in-out;
}

.sidebar {
  width: 70px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition-duration: 0.2s;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-title {
  font-size: 6px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  visibility: hidden;
}

.sidebar:hover .side-title {
  width: 220px;
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
  visibility: visible;
}

.sidebar:hover {
  width: 220px;
}



.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
}

.side-wrapper {
  padding: 36px 0;
  width: 145px;
}
.side-wrapper + .side-wrapper {
  border-bottom: none;
}

.side-menu {
  display: flex;
  flex-direction: column;
}
.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}
.side-menu a + a {
  margin-top: 26px;
}
.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--color-bg);
  flex-shrink: 0;
  margin-right: 16px;
}
.side-menu svg:hover {
  color: #fff;
}

/* TOPBAR */
.wrapper-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}

.time {
  height: 34px;
  display: flex;
  width: 100%;
  max-width: 450px;
}
.time .clock {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-size: 14px;

  color: #fff;
}

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}
.user-settings svg {
  width: 10px;
  flex-shrink: 0;
}
@media screen and (max-width: 575px) {
  .user-settings svg {
    display: none;
  }
}
.user-settings .notify {
  position: relative;
}
.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}
.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}
@media screen and (max-width: 575px) {
  .user-settings .notify .notification {
    display: none;
  }
}
.user-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.user-name {
  color: #fff;
  font-size: 14px;
  margin: 0 6px 0 12px;
}
@media screen and (max-width: 575px) {
  .user-name {
    display: none;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
  flex-grow: 1;
  overflow: auto;
}

.main-header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 40px;
  top: 0;
  left: 0;
}

.small-header {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 20px;
}

.main-blogs {
  display: flex;
  align-items: center;
}
.main-blog {
  background-size: 80%;
  background-position-x: 150px;
  background-color: #31abbd;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 200px;
  padding: 30px;
  border-radius: 20px;
  align-self: stretch;
  overflow: auto;
  position: relative;
}
.main-blog + .main-blog {
  margin-left: 20px;
  width: 35%;
  background-color: #6c5ecf;
}
.main-blog + .main-blog .author-img {
  border-color: rgba(255, 255, 255, 0.75);
  margin-top: 14px;
}
.main-blog + .main-blog .author-img__wrapper svg {
  border-color: #ffe6b2;
  color: #e7bb7d;
}
.main-blog + .main-blog .author-detail {
  margin-left: 0;
}
@media screen and (max-width: 905px) {
  .main-blog,
  .main-blog + .main-blog {
    width: 50%;
    padding: 30px;
  }
  .main-blog {
    background-size: cover;
    background-position-x: center;
    background-blend-mode: overlay;
  }
}
.main-blog__time {
  background: rgba(21, 13, 13, 0.44);
  color: #fff;
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.contents {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
@media screen and (max-width: 980px) {
  .contents {
    grid-template-columns: repeat(2, 1fr);
  }
}

.content {
  position: relative;
  background-color: #22b07d;
  border-radius: 20px;
  overflow: auto;
  height: 200px;
  transition: 0.4s;
}