

.card {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 430px;
  width: 100%;
}
.cards-header {
  background: #10122b;
  border-radius: 6px 6px 0 0;
  padding: 20px 45px;
  font-size: 14px;
  font-weight: 500;
}
.cards-header-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-header-date svg {
  color: #4154d1;
  background: #14183c;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
}
.cards-wrapper {
  margin-left: 20px;
  max-width: 305px;
  width: 100%;
}
.cards-hour {
  font-size: 26px;
}
.cards-hour .am-pm {
  font-size: 15px;
  font-weight: 500;
}
.cards.card {
  border-radius: 0 0 6px 6px;
  padding: 30px 20px;
}
.cards.card svg {
  width: 24px;
  margin-left: auto;
  color: #818394;
}
.cards-head {
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
}
.items.numbers {
  margin-top: 0;
}

.item {
  flex: 0 1 calc(100% / 7);
  padding: 10px 5px;
  text-align: center;
}
.item.is-active {
  background: #4255d4;
  border-radius: 50%;
  color: #fff;
}
.item.disable {
  color: #595b5b;
}
